---

### 🎓 **Professor**: Apostolos Filippas

### 📘 **Class**: Web Analytics

### 📋 **Topic**: Lists, Dictionaries, Comparisons

🚫 **Note**: You are not allowed to share the contents of this notebook with anyone outside this class without written permission by the professor.

---

# 📜 1. Lists

We introduced the concept of *sequence* when discussing strings.
Strings are, simply put, a sequence of characters that is immutable.

Lists are the more general version of sequences and are very much **mutable**; the elements of a list can be changed!


## 1.1 Basics
Lists are constructed with brackets **[ ]** and with commas separating every element of the list. 
Let's see an example.

In [1]:
#assign a list to a variable with name first_list
first_list = [1, 2, 3]
first_list

[1, 2, 3]

In [2]:
#lists can hold different types of objects in each index, not only integers!
first_list = [1.3233, 5, 'hello_world']
first_list

[1.3233, 5, 'hello_world']

In [3]:
#the len() function tells you how many elements the list has
len(first_list)

3

## 1.2 Indexing and Slicing
Indexing and slicing of lists works very similarly to that of strings. Let's work through some examples.

In [4]:
# Access the first element of the list
first_list[0]

1.3233

In [5]:
# Access the second element of the list
first_list[1]

5

In [6]:
# Access the third element of the list
first_list[2]

'hello_world'

In [7]:
# Access the twentieth element of the list
first_list[19]

IndexError: list index out of range

In [8]:
# Access the last element of the list
first_list[-1]

'hello_world'

In [9]:
# Access index 1 and everything after it
# notice that the outcome is a list!
first_list[1:]

[5, 'hello_world']

In [10]:
# Access index 2 and everything after it
# notice that the outcome is a list, which ic different than accessing the element at position 2!
first_list[2:]

['hello_world']

In [11]:
# notice that the outcome is a list, which ic different than accessing the element at position 2!
first_list[2]

'hello_world'

In [12]:
#concatenating lists, just as in strings
first_list + ['new element', 'another new element']

[1.3233, 5, 'hello_world', 'new element', 'another new element']

In [13]:
#this change is not permanent, because we haven't assigned it to a variable!
first_list

[1.3233, 5, 'hello_world']

In [14]:
#to make it permanent we would have to reassign!
first_list = first_list + ['new element', 'another new element']
first_list

[1.3233, 5, 'hello_world', 'new element', 'another new element']

In [15]:
#remember that when slicing the elements we access do not include the second index
first_list[3:5]

['new element', 'another new element']

In [16]:
#we can even multiply a list!
['some string']*5

['some string', 'some string', 'some string', 'some string', 'some string']

## 1.3 Useful list functions

We are now going to cover some of the most useful list methods. 
- **append( k )**  appends k at the end of the list
- **pop( k )**    pops off the item at index k. If we specify no index, pops off the last element
- **reverse( )**   reverses the order of the items in the list
- **sort( )**      sorts the list in alphabetical order, but for numbers it orders in ascending order
- **insert( k, arg )** inserts arg at index k. Everything that follows is shifted one position to the right
- **remove( arg )** removes the first occurence of arg from the list

Let's see some examples.

In [17]:
#create a new list
x = [1,2,3]
x

[1, 2, 3]

In [18]:
#append the string 'hello world' at the end of the list
x.append('hello world')
x

[1, 2, 3, 'hello world']

In [19]:
#pop the first item of the list
x.pop(0)
x

[2, 3, 'hello world']

In [20]:
#you can assign the popped item to another variable!
#when pop has no argument, it pops the last item off the list
popped_item = x.pop()
x

[2, 3]

In [21]:
popped_item

'hello world'

In [22]:
# create a list of numbers then sort it
number_list = [1,4,5,2,0,6]
number_list.sort()
number_list

[0, 1, 2, 4, 5, 6]

In [23]:
#create a list of characters then sort it
char_list = ['a','x','d', 'z','o']
char_list.sort()
char_list

['a', 'd', 'o', 'x', 'z']

In [24]:
#now reverse your list of characters
char_list.reverse()
char_list

['z', 'x', 'o', 'd', 'a']

In [25]:
#insert 'hello_world' in the 3rd position (index 2)
char_list.insert(2, 'hello_world')
char_list

['z', 'x', 'hello_world', 'o', 'd', 'a']

In [26]:
#let's remove 'o' from the list
char_list.remove('o')
char_list

['z', 'x', 'hello_world', 'd', 'a']

## 1.4 Nesting - lists of lists

Data structures in Python support nesting - you can have data structures within data structures.

Lets see an example of lists inside lists.

In [27]:
x1 = [1,2,3]
x2 = [4,5,6]
x3 = [7,8,9]

#now make a list of lists
matrix = [x1, x2, x3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

You now have a list of lists. 

The variable matrix is a list that has
- the list [1,2,3] in its first place (index = 0)
- the list [4,5,6] in its first place (index = 1)
- the list [7,8,9] in its first place (index = 2)

When you use indexing you get back an element that is a list.

In [28]:
matrix[0]

[1, 2, 3]

In [29]:
matrix[1]

[4, 5, 6]

Since matrix[1] is now a list, you can use indexing on that list, and hence we have two levels of indexing.

In [30]:
matrix[1][0]

4

In [31]:
matrix[1][1:]

[5, 6]

In [32]:
matrix[0][:2]

[1, 2]

You can also have a list with elements of many different types

In [33]:
l = [ 1, 2.5, 'hello world', [4,5,6]]
l[2]

'hello world'

In [34]:
# access the five first elements of the string on position 2
l[2][:5]

'hello'

In [35]:
# access the second element of the list on position 3
l[3][2]

6

In [36]:
#careful - not all elements of the list can be indexed.
#for example, integers have no meaningful indexing
l[1][1]

TypeError: 'float' object is not subscriptable

We can therefore have lists, and lists of lists, and even lists of lists of lists of lists ... it's like inception!

---
# 🔑 2. Dictionaries

We saw how two type of sequences work - **strings** and **lists**.

While sequences are definitely useful, we will now introduce one of the most commonly used (and most powerful) data structure that Python offers, the **dictionary**

The dictionary belongs to the class of data structures we call *mappings*.
- Sequences are stored and can be accessed by their index which indicates their relative position (0, 1, ...). This sounds nice and orderly, but finding an element stored in a list is costly...
- On the other hand, **every object of a mapping is associated with a unique key**

This distinction is important; to access an object you just use its key.
- A python dictionary consists of keys, and the values that are associated with each key.
- Almost any object can be a dictionary value.
- However, **only immutable objects can be dictionary keys**

But enough with the definitions, practice is the best teacher when it comes to programming. 

## 2.1  Dictionary Basics

We start by constructing a dictionary. 

Dictionaries are defined by using **{ }**. Each element is of the form x:y where x is the *key* and y is the corresponding *value*.

In [37]:
#our first simple dictionary
first_dict = {'key1':'value1', 'key2':'value2'}

This is a dictionary that has two values:
- 'value1' accessible through the key 'key1'
- 'value2' accessible through the key 'key2'

To access these values, use the key (instead of using the index as you would've done with lists)

In [38]:
first_dict['key1']

'value1'

In [39]:
first_dict['key2']

'value2'

In [40]:
#careful which keys you use; if they haven't been used in the dictionary you'll get an error
first_dict['other_key']

KeyError: 'other_key'

In [41]:
#dictionaries are pretty flexible!
first_dict = {'key1':1337, 
              'key2':['hello','world','(again)'], 
              'key3':[1,2,5.66], 
               1337: 'elite'}

In [42]:
# and you can add elements as you go
first_dict['MIS201'] = "pure fire"
first_dict['cat'] = 'dog'

In [43]:
# the same method goes for replacing values
first_dict['key1'] = "value1"

In [44]:
first_dict

{'key1': 'value1',
 'key2': ['hello', 'world', '(again)'],
 'key3': [1, 2, 5.66],
 1337: 'elite',
 'MIS201': 'pure fire',
 'cat': 'dog'}

#### Note

Before Python 3.7, dictionaries were unordered. From Python 3.7 onwards, dictionaries maintain the order of items insertion.

## 2.2 Inception Part 2

The value of a dictionary entry can be pretty much anything

In [45]:
#now the value associated with 'key2' is a list of strings
first_dict['key2']

['hello', 'world', '(again)']

In [46]:
#and we can access any of its elements indexing iteratively
first_dict['key2'][2]

'(again)'

In [47]:
#or even go deeper
first_dict['key2'][2][:4]

'(aga'

In [48]:
#and deeper
first_dict['key2'][2][:4].upper()

'(AGA'

and a value can also be ... you guessed it ... a dictionary!

In [49]:
#as before, we can have a dictionary inside a dictionary, etc.
first_dict['dict1'] = {'inner_dict':'some_value'}

In [50]:
first_dict

{'key1': 'value1',
 'key2': ['hello', 'world', '(again)'],
 'key3': [1, 2, 5.66],
 1337: 'elite',
 'MIS201': 'pure fire',
 'cat': 'dog',
 'dict1': {'inner_dict': 'some_value'}}

## 2.3 Useful dictionary operations

We cover here some commonly used dictionary methods
- **keys()**   returns a list with all the keys
- **values()** returns a list with all the values
- **items()**  returns a list whose elements are *tuples* with dictionary key-value pairs.

In [51]:
#create a typical dictionary
my_dict = {'cat':'die Katze', 'dog':'der Hund', 'mice':'die Mäuse'}

In [52]:
#get the list of all keys
list(my_dict.keys())

['cat', 'dog', 'mice']

In [53]:
#get the list of all value
list(my_dict.values())

['die Katze', 'der Hund', 'die Mäuse']

In [54]:
#get the list of all pairs
list(my_dict.items())

[('cat', 'die Katze'), ('dog', 'der Hund'), ('mice', 'die Mäuse')]

In [55]:
#you can delete a key/value pair by using del[key]
del my_dict['mice']
my_dict

{'cat': 'die Katze', 'dog': 'der Hund'}

#### Note 1 

Maybe going over all the different data types seems a little bit unnecessary now, but they will come in extremely handy in a while

#### Note 2
In the dictionary methods we used list() to convert something to a list. We won't bother with what that *something* is for now, but know that it is there to make Python both faster and more efficient

#### BONUS

The `.get()` dictionary method is a very useful method that allows you to retrieve a value from a dictionary without having to worry about whether the key exists or not.

In [56]:
my_dict = {'cat':'die Katze', 'dog':'der Hund', 'mice':'die Mäuse'}
my_dict.get('cat')

'die Katze'

In [57]:
my_dict.get('dogg')

---
# ⚖️ 3. Comparison


## 3.1 Booleans

Booleans are variables that can assume two values: True (1) and False (0).

They can be useful in many situations, especially when we want to check whether a relationship holds or not. Let's see some examples.

In [58]:
done = True
done

True

In [59]:
done = False
done

False

In [60]:
#check whether the number 15 is greater than -3
15>-3

True

In [61]:
3>4

False

In [62]:
#check whether the number 15 is equal to -3
15==3

False

In [63]:
#check whether the number 15 is not equal to -3
15!=3

True

## Table of Comparison Operators

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>x=3, y=4</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two args are equal, the condition becomes true.</td>
<td> (x == y) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If the values of two args are not equal, the condition becomes true.</td>
<td>(x != y) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of the left arg is greater than the value of the right arg, the condition becomes true.</td>
<td> (x &gt; y) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of the left arg is less than the value of the right arg, the condition becomes true.</td>
<td> (x &lt; y) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of the left arg is greater than or equal to the value of the right arg, the condition becomes true.</td>
<td> (x &gt;= y) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of the left arg is less than or equal to the value of the right arg, the condition becomes true.</td>
<td> (x &lt;= y) is true. </td>
</tr>
</table>

## 3.2 Non-numeric equality

The == and != operators can also check whether two objects are the same or different.

In [64]:
x=[5,6]
y=[5,6]
x==y

True

In [65]:
x='this is a random string!!!'
y='this is a different string'
x==y

False

In [66]:
x!=y

True

In [67]:
len(x)==len(y)

True

## 3.3 AND and OR statements

We use the and statement to check whether two conditions hold at the same time
- if both conditions hold, then the AND statement returns the value True
- if at least one (or both) do not hold, then the AND statement returns the value False

In [68]:
4>2 and 2<5

True

In [69]:
4>3 and 15<4

False

On the other hand, the **or** statement returns two if any of its two operands holds True.

In [70]:
15<0 or 5==5

True

While 15<0 is false, 5==5 holds true, and the or statement returns the value True.

In [71]:
#parentheses work as in numerical calculations!
( (5>3 and 3<2) or 15>0 ) and 5>=6

False

In [72]:
# assign my_dict to the variable second_dict by reference
second_dict = my_dict

#both refer to the same content
print( my_dict == second_dict )
print(my_dict)
print(second_dict)

#but each variable refers to the same place in memory!
my_dict is second_dict

True
{'cat': 'die Katze', 'dog': 'der Hund', 'mice': 'die Mäuse'}
{'cat': 'die Katze', 'dog': 'der Hund', 'mice': 'die Mäuse'}

True

In [73]:
# when you change the contents, then they change for every referece (variable) to this place in memory
my_dict['mice'] = 'die Mäuse'
print(my_dict)
print(second_dict)

{'cat': 'die Katze', 'dog': 'der Hund', 'mice': 'die Mäuse'}
{'cat': 'die Katze', 'dog': 'der Hund', 'mice': 'die Mäuse'}

In [74]:
del my_dict['mice']
print(my_dict)
print(second_dict)

{'cat': 'die Katze', 'dog': 'der Hund'}
{'cat': 'die Katze', 'dog': 'der Hund'}

If you don't want this to happen, you have to perform an **assignment by value**
- that is, make a copy of the original memory contents to the new variable
- this can be done by specifying that you want a new copy

In [75]:
second_dict = dict(my_dict)
print( my_dict == second_dict )
print( my_dict is second_dict )

True
False

In [76]:
my_dict['mice'] = 'die Mäuse'
print(my_dict)
print(second_dict)

{'cat': 'die Katze', 'dog': 'der Hund', 'mice': 'die Mäuse'}
{'cat': 'die Katze', 'dog': 'der Hund'}

The same thing holds for lists, but instead of dict(my_dict) you would have to call list(my_list)

---
# ❓ 4. Conditionals

## 4.1 If-else

The **if (condition):** statement allows us to tell our computer to perform a certain set of actions if a condition holds. 

Let's see an example.

In [77]:
#the condition x>0 holds, and the code inside the if block is executed
x=5
if x>0:
    print('x is positive')

x is positive

In [78]:
#the condition x>0 does not hold, and the code inside the if block is ignored
x=5
if x<0:
    print('x is negative')

The **else:** statement always follows an if statement, and tells us what to do when the if condition does not hold. 

Again, let's work through it using an example.

In [79]:
x=5
if x>0: 
    print('x is positive')
else:
    print('x is not positive')

x is positive

In [80]:
x=-3
if x>0: 
    print('x is positive')
else:
    print('x is not positive')

x is not positive

## 4.2 The elif statement

The elif statement works similarly to if with few differences.
- it always follows after an if statement
- if the above if statement does not hold, then the following elif statement is checked.

Let's see an example

In [81]:
name = 'Sarah'
#the if condition is true - it is executed and anything below is ignored
if name == 'Sarah':
    print('Welcome Sarah!')
elif name =='James':
    print('Welcome James')

Welcome Sarah!

In [82]:
name = 'James'
#the if condition is not true - we move on to the next condition which happens to be true
if name == 'Sarah':
    print('Welcome Sarah!')
elif name =='James':
    print('Welcome James')

Welcome James

In [83]:
name = 'Sarah'
#both conditions are true, but only the first true condition is executed
if name == 'Sarah':
    print('Welcome Sarah!')
elif name =='Sarah':
    print('You are not welcome Sarah')

Welcome Sarah!

In [84]:
name = 'Arya'
#none of the conditions are true, and the else condition is executed
if name == 'Sarah':
    print('Welcome Sarah!')
elif name =='James':
    print('Welcome James')
else:
    print('Welcome, what is your name?')

Welcome, what is your name?

## 4.3 Identation

A code block - what is contained within an if or else statement can be simply identified by the fact that it is indented uniformly.

In [85]:
name = 'Sarah'
#none of the conditions are true, and the else condition is executed
if name == 'Sarah':
    print('Welcome Sarah!')
    print('Would you like your regular?')
elif name =='James':
    print('Welcome James')
    print('Dinner for two?')    
else:
    print('Welcome, what is your name?')
    x = 'No one'
    print('and how could I help you today,'+str(x))

Welcome Sarah!
Would you like your regular?

In [86]:
name = 'Arya'
#none of the conditions are true, and the else condition is executed
if name == 'Sarah':
    print('Welcome Sarah!')
    print('would you like your regular?')
elif name =='James':
    print('Welcome James')
    print('Dinner for two?')    
else:
    print('Welcome, what is your name?')
    name = 'No One'
    print('and how could I help you today, '+str(name)+'?')

Welcome, what is your name?
and how could I help you today, No One?

## 4.4 If's within if's

In its natural inception fashion, Python allows for if statements within if statements within if statements... .

Let's see a simple example

In [87]:
x = -30
if x>0:
    if x>10:
        print('x is positive and  bigger than 10')
    else:
        print('x is positive and less than or equal to 10')
elif x<0:
    if x<-10:
        print('x is negative and less than -10')
    else:
        print('x is negative and bigger than or equal to -10')
else:
    print('x equals 0')

x is negative and less than -10

## 4.5 IFs and dictionaries

We can use if statements to check whether a key is in a dictionary or not.

In [88]:
my_dict = {'cat':'die Katze', 'dog':'der Hund', 'mice':'die Mäuse'}

candidate_key = 'cat'

if candidate_key in my_dict:
    print(f'The key {candidate_key} is in the dictionary, and the associated value is {my_dict[candidate_key]}')
else:
    print(f'The key {candidate_key} is not in the dictionary')

The key cat is in the dictionary, and the associated value is die Katze