---

### üéì **Professor**: Apostolos Filippas

### üìò **Class**: Web Analytics

### üìã **Topic**: Pandas (self-study)

### üîó **Link**: https://bit.ly/WA_LEC7_PANDAS

üö´ **Note**: You are not allowed to share the contents of this notebook with anyone outside this class without written permission by the professor.

---

# üö™ 1. Introduction

To make the contents of a package available, you need to import it:

Make sure to install the following packages before running the code in the next cell:
- **`pandas`** is a data manipulation package. It lets us store data in data frames. More on this soon.
- **`sklearn`** is a machine learning and data science package. It lets us do fairly complicated machine learning tasks, such as running regressions and building classification models with only a few lines of code.
- **`seaborn`** an extension to matplotlib that really helps make your plots look more appealing
- **`numpy`** (pronounced num-pie) is used for doing "math stuff", such as mathematical operations (e.g., square roots, exponents, logs), matrix algebra, and more.

In [ ]:
import numpy as np
import matplotlib as plt
import pandas as pd
import seaborn as sns

# display  plots inline with the rest of your notebook, rather than in a separate window
%matplotlib inline

# some stylistic tweaks in seaborn
sns.set(style='ticks', palette='Set2')

We can now use package-specific functions. For example, numpy has a function called `sqrt()` which will give us the square root of a numpy number. Since it is part of numpy, we need to tell Python that that's where it is by using a dot (e.g., `np.sqrt()`).

In [ ]:
some_list = [0,0,1,2,3,3,4.5,7.6]
some_dictionary = {'student1': '(929)-000-0000', 
                   'student2': '(917)-000-0000', 
                   'student3': '(470)-000-0000'}


# In this part of the code I am using numpy (np) functions
print ("Square root: " + str ( np.sqrt(25) ))
print ("Maximum element of our previous list: " + str( np.max(some_list) ))

---
# üêº 2. The Pandas Package

The Pandas package gives us the **DATAFRAME** --- one of the main data structures used in data analytics.

- A Dataframe is an excel sheet on steroids. 
- More scientifically, a dataframe is a 2-dimensional "labeled" data structure with columns of potentially different types. It is the most commonly used pandas object. Along with the data, you can optionally pass index (row labels) and column (column labels) arguments. 

Pandas data frames can be constructed from most common data sources a data scientist will encounter: csv files, excel spreadsheets, sql databases, json, url pointers to other data sources, and even from other data already stored in one's python code. 

First, let's take a look at creating a data frame from a common "toy" dataset presenting automobile mpg information.

In [ ]:
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original"

column_names = ['mpg', 'cylinders', 'displacement', 
                'horsepower', 'weight', 'acceleration',
                'model', 'origin', 'car_name']

mpg_df = pd.read_csv(url,
                     delim_whitespace=True,
                     header=None,
                     names=column_names)

We now have the data loaded in a pandas data frame, as a starter, let's see some of the (MANY!) ways pandas makes it convenient to explore a dataset.


## Fast summary statistics

In [ ]:
# first, just get a peek at the data:
mpg_df.head()

In [ ]:
# some general stats about the data
mpg_df.describe()

In [ ]:
# info about the different columns
mpg_df.info()

In [ ]:
# grab a single column
mpg_df["cylinders"]

In [ ]:
# another way to grab a single column
mpg_df.cylinders

In [ ]:
mpg_df["cylinders"]**2

In [ ]:
# how many of each type of engine? 
mpg_df["cylinders"].value_counts()

In [ ]:
# total horsepower
mpg_df["horsepower"].sum()

In [ ]:
# average horsepower per engine type
mpg_df.groupby("cylinders").horsepower.mean()

## Fast plotting

In [ ]:
# plotting a histogram of mpg
mpg_df.hist("mpg")

In [ ]:
# or a scatter plot of acceleration vs mpg
mpg_df.plot(kind="scatter", x="acceleration", y="mpg", c = 'forestgreen')

In [ ]:
# some pretty plotting comparing weight to mpg using regression in seaborn
sns.jointplot(x="weight", y="mpg", data=mpg_df, kind="reg")

Pandas is widely used and has a very active development community contributing new features. As such, if there is some kind of analysis you want to do on your data, chances are, it already exists. 

The [documentation for the pandas library](https://pandas.pydata.org/pandas-docs/stable/) is very good, but the site's search functionality is, unfortunately poor. I recommend using chatGPT or Google to find the information you need.


## Selecting columns 

One important component of pandas is indexing and selecting components of the data.
We saw how to select columns, but here it is again:

In [ ]:
# selecting columns is done using the `[]` operator,
# which accepts one column name or a list of several names
mpg_df[["cylinders", "car_name"]].head(5)

In [ ]:
# as some "syntactic sugar", pandas also allows selection using the `.column_name` notation
# note that both cases can be used for assignment!
mpg_df.car_name.head(5)

## Selecting rows

There are two options for selecting rows in pandas:
- `.loc`: for selecting rows based on the _row label_
- `.iloc`: for selecting rows based on the _row number_

In the prior example, the row label and the row number are the same.
However, it often makes sense to assign labels to rows, a unique id (think about: dictionaries). In many cases, this would be something like a date or a user id.

In [ ]:
# get a single row
mpg_df.iloc[5]

In [ ]:
# selecting the first 5 rows
mpg_df.iloc[:5]

In [ ]:
# a small difference between label & index selecting
mpg_df.loc[:5]

One can also select those rows that match a particular condition. Say I want to only see those rows that have an acceleration less that 10 seconds

In [ ]:
mpg_df[mpg_df["acceleration"] < 10].head(5)

If we have _actual labels_ as an index for a dataframe, we can use `.loc` to select using values from that index

In [ ]:
car_index_df = mpg_df.set_index("car_name", inplace=False)
#car_index_df.iloc[:5]
car_index_df.loc[["amc rebel sst", "plymouth fury iii"]]

## Creating a dataframe

Often, one wants to create a data frame from information that is available "in code." This information might be results of prior computations that aren't already in pandas, or maybe just some small static dataframe that stores some info. 

There are two common ways to do this: 
- lists-of-lists with an additional list of column names
- lists of dictionaries 

I prefer the latter since the data in this case is self-descriptive, order isn't important, and missing data is handled more smoothly, but I'll give examples below for both.

In [ ]:
# list-of-lists approach

list1 = ['studentA',22,'(929)-000-000']
list2 = ['studentB',np.nan,'(646)-000-000']
list3 = ['studentC',30,'(917)-000-000']
list4 = ['studentD',31,'(646)-001-001']
list5 = ['studentE',np.nan,'(929)-001-001']
list6 = ['studentF',30,'(917)-001-001']
list7 = ['studentG',30,'(470)-001-001']

list_of_lists = [list1, list2, list3, list4, list5, list6, list7]
column_names = ['Name','Age','Mobile']

lol_df = pd.DataFrame(list_of_lists,columns=column_names)
lol_df.head(5)

In [ ]:
# this is the list of dicts approach
alice = {"name": "alice", "age": 5, "mobile":"555-222-9000"}
bob = {"name": "bob", "age": 100}
casey = {"age":35, "name": "casey", "mobile":"1-877-kars-4kids"}

list_of_dicts = [alice, bob, casey]
lod_df = pd.DataFrame(list_of_dicts)
lod_df.head(5)

We can also add columns ( they should have the same number of rows as the dataframe they are being added to )

In [ ]:

lol_df['Business Major'] = ['yes','no','yes','yes','yes','no','yes']
lol_df['Years Experience'] = [1,4,2,6,0,3,0]

lol_df.head(5)

## Operations with columns

What about operations on entire columns? This can make data munging much easier!

Let's take the difference between age and years of experience:

In [ ]:

lol_df["Age"] - lol_df["Years Experience"]

All of the data frames used thus far have had missing values. We see that by default, pandas just displays `NaN`, when the value of a cell is unknown. Sometimes this interferes with the computation we're trying to accomplish. Fortunately, there is a [suite of functionality](https://pandas.pydata.org/pandas-docs/stable/missing_data.html) for dealing with missing data built in.

Let's (for some reason) fill missing age info with the average age!

In [ ]:
lol_df["Age"].fillna(lol_df["Age"].mean()) - lol_df["Years Experience"]

## Writing a file to disk

Finally, we often want to write our data back to disk. Here's how to write a df as a csv with pandas:

In [ ]:
mpg_df.to_csv("files/mpg_df.csv")

And it's equally easy to read a csv file into a dataframe:

In [ ]:
df = pd.read_csv("files/mpg_df.csv")

In [ ]:
df

---
# üìö 3. More resources

We only touched on the surface of Pandas. There are many more things you can do with it. Here are some resources to help you learn more:
- [Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [Pandas cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
- [Pandas cookbook](https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html)
- [Pandas tutorial](https://pandas.pydata.org/pandas-docs/stable/getting_started/tutorials.html)
- [10 minutes to Pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html)
- [Pandas exercises Github](https://github.com/guipsamora/pandas_exercises)

---
# üèãÔ∏è‚Äç‚ôÄÔ∏è 4. Exercise: Amazon Employee Reviews Analysis

Objective: Understand and analyze the Amazon employee reviews dataset using the pandas techniques you've learned.

## 1. Setup and Data Loading
1. Import necessary libraries (pandas, numpy, seaborn, and matplotlib).
2. Load the dataset into a pandas dataframe named reviews_df. The dataset can be found [here](https://drive.google.com/file/d/10hKwrxftkO8g73HrQiXHcDbA9B9skTbO/view?usp=sharing)

## 2. Exploration and Cleaning
1. Display the first 5 rows of the dataframe.
2. Use the .info() method to understand the different columns and data types.

# 3. Data Analysis
1. How many reviews are there for each job type (Full Time, Part Time, etc.)?
2. What are the top 5 job roles with the highest average overall rating?
3. Display the average overall rating for each department.
4. Plot a histogram showcasing the distribution of overall ratings.
5. Plot a scatter plot to see if there's a relationship between work life balance and work satisfaction.

## 4. Indexing and Selection
1. Set the Name column as the index for the dataframe.
2. Select and display all reviews for the "Software Development Engineer" role.
3. Using .iloc, display details of the 50th review in the dataframe.

## 5. Bonus (Advanced)
1. Group reviews by their Place and display the top 5 places with the highest average overall rating.
2. Create a new dataframe containing only the reviews with a job role that starts with the letter 'S'.
3. Plot a bar chart showcasing the number of reviews made each month.

---
# üèãÔ∏è‚Äç‚ôÄÔ∏è ‚úÖ. Solutions: Amazon Employee Reviews Analysis

Objective: Understand and analyze the Amazon employee reviews dataset using the pandas techniques you've learned.

## 1. Setup and Data Loading
1. Import necessary libraries (pandas, numpy, seaborn, and matplotlib).
2. Load the dataset into a pandas dataframe named reviews_df. The dataset can be found [here](https://drive.google.com/file/d/10hKwrxftkO8g73HrQiXHcDbA9B9skTbO/view?usp=sharing)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

reviews_df = pd.read_csv('files/amazon_employee_reviews.csv')

## 2. Exploration and Cleaning
1. Display the first 5 rows of the dataframe.
2. Use the .info() method to understand the different columns and data types.

In [ ]:
print(reviews_df.head())

In [ ]:
print(reviews_df.info())

# 3. Data Analysis
1. How many reviews are there for each job type (Full Time, Part Time, etc.)?
2. What are the top 5 job roles with the highest average overall rating?
3. Display the average overall rating for each department.
4. Plot a histogram showcasing the distribution of overall ratings.
5. Plot a scatter plot to see if there's a relationship between work life balance and work satisfaction.

In [ ]:
job_type_counts = reviews_df['Job_type'].value_counts()
print(job_type_counts)

top_roles = reviews_df.groupby('Name')['Overall_rating'].mean().sort_values(ascending=False).head(5)
print(top_roles)

avg_rating_per_department = reviews_df.groupby('Department')['Overall_rating'].mean()
print(avg_rating_per_department)

In [ ]:
sns.histplot(reviews_df['Overall_rating'], bins=5, kde=False)
plt.title('Distribution of Overall Ratings')
plt.xlabel('Overall Rating')
plt.ylabel('Number of Reviews')
plt.show()

In [ ]:
sns.scatterplot(x=reviews_df['work_life_balance'], y=reviews_df['work_satisfaction'])
plt.title('Relationship between Work Life Balance and Work Satisfaction')
plt.xlabel('Work Life Balance Rating')
plt.ylabel('Work Satisfaction Rating')
plt.show()

## 4. Indexing and Selection
1. Set the Name column as the index for the dataframe.
2. Select and display all reviews for the "Software Development Engineer" role.
3. Using .iloc, display details of the 50th review in the dataframe.

In [ ]:
reviews_df.set_index('Name', inplace=True)

sde_reviews = reviews_df.loc['Software Development Engineer']
print(sde_reviews)

fiftieth_review = reviews_df.iloc[49]
print(fiftieth_review)

## 5. Bonus (Advanced)
1. Group reviews by their Place and display the top 5 places with the highest average overall rating.
2. Create a new dataframe containing only the reviews with a job role that starts with the letter 'S'.
3. Plot a bar chart showcasing the number of reviews made each month.

In [ ]:
top_places = reviews_df.groupby('Place')['Overall_rating'].mean().sort_values(ascending=False).head(5)
print(top_places)

In [ ]:
reviews_df_reset = reviews_df.reset_index()
s_starting_roles = reviews_df_reset[reviews_df_reset['Name'].str.startswith('S')]
print(s_starting_roles)

In [ ]:
# Extract month from Date column
reviews_df_reset['Month'] = pd.to_datetime(reviews_df_reset['Date']).dt.month_name()

# Group by month and count
monthly_reviews = reviews_df_reset['Month'].value_counts()

sns.barplot(x=monthly_reviews.index, y=monthly_reviews.values, order=monthly_reviews.index.sort_values())
plt.title('Number of Reviews Made Each Month')
plt.xlabel('Month')
plt.ylabel('Number of Reviews')
plt.xticks(rotation=45)
plt.show()