---

### üéì **Professor**: Apostolos Filippas

### üìò **Class**: Web Analytics

### üìã **Topic**: Numbers, Object assignment, Strings 

üö´ **Note**: You are not allowed to share the contents of this notebook with anyone outside this class without written permission by the professor.

---


# üî¢ 1. Numeric Expressions

Python has many types of numbers, most of them rarely used.

We will focus here on the most important, **integers** and **floating point** numbers

- **Integers** Numbers such as 1,0,-5,1337

- **Floating point numbers*** Numbers such as 2.0, 1.337, -2.17, 2e3 (2 times 10 to the power of three)

## 1.1 Basic Arithmetic

Doing basic calculations in Python works exactly how you'd expect it to work.

Let's see some examples

In [ ]:
## Addition
print(4+5)

In [ ]:
## Subtraction
print(3-1)

In [ ]:
print(17-23)

In [ ]:
## Multiplication
print(2*5)

In [ ]:
print(3*-6)

In [ ]:
## Division
print(3/2)

In [ ]:
print(5/5)

In [ ]:
## Exponents
print(2**10)

In [ ]:
print(5**3)

In [ ]:
## Square root
print(9**0.5)

In [ ]:
## Integer division
print(5//2)
print(4//2)

In [ ]:
## Modulo
print(6 % 2)
print(5 % 2)
print(4 % 2)
print(3 % 2)

## 1.2 Order of Arithmetic Operations

The order of operations in python is **not** left to right.

Python will perform operations with the following priority: 
1. all exponenentiations, 
2. all multiplications/divisions, and 
3. all additions/sutractions.

For operations within the same priority group, Python then uses left -> right

If we want to specify our own order, we just use parentheses.

In [ ]:
print(2 + 3 * 5 + 1)

In [ ]:
print( (2+3) * 5 + 1 )

In [ ]:
print( (2+3) * (5 + 1) )

## Bonus - More functions

Some other number functions that might be useful are given here
- **abs()** gives the absolute value of the number
- **round()** rounds to the closest integer

Note that functions can take more than one of arguments as inputs.

In [ ]:
print( abs(2) )

In [ ]:
print( abs(-2.3) )

In [ ]:
print( round(5.3) )

In [ ]:
print( round(5.6) )

In [ ]:
print( round(2.71828, 3) )

In this last line of code, the round function takes two arguments: 
- the first argument ( 2.71828 ) tells the function which number to round
- the second argument ( 3 ) tells the function which decimal to round to

---
#  ‚¨ÖÔ∏è 2. Object Assignment

We  use the **=** sign to assign labels to any item in python. Let's see how this works.

You begin by your label, followed by the equals sign = , followed by the object you want your label to refer to.

For example, let's set x to be the label of the number 5.

In [ ]:
x = 5

Notice that there is no output here, as we just did an assignment.

However, if we just write the label now, we should get the value of the label

In [ ]:
x

## 2.1 Using the label

We essentially told Python to associate the value 5 with the label x.

Whenever we call the label x anywhere in our script, Python treats this label as if it was the number 5.

For example

In [ ]:
x + 3

In [ ]:
x ** 2

In [ ]:
x + x

In [ ]:
2*x

## 2.2 Reassigning labels

If we re-assign another object to the same label, the old label gets overwritten

In [ ]:
x = 10

In [ ]:
x

In [ ]:
x+3

We can even use the same label to reassign. Python first evaluates whatever is on the right of the = sign, and then assigns it to the label that is on the left. Let's see an example

In [ ]:
x = 20

In [ ]:
x = x + 10

In [ ]:
x

In [ ]:
x  = 2 * x

In [ ]:
x

In [ ]:
x = x + (2*x)

In [ ]:
x

## Note
Python is a dynamically typed language. This means that we do not need to specify the type of a variable when we declare it. Python will automatically infer the type of the variable based on the value it is assigned to. We can also reassign the same variable many times without "destroying it" or changing its type explicitly.

This is not true of many other languages, such as C, C++, Java, etc. In these languages, you need to specify the type of the variable when you declare it, and you cannot change the type of the variable later on.

## 2.3 Variable rules


There are but a few rules on how we can name our labels/variables. Those are listed here:
- Names cannot start with a number
- There can bee no spaces in a name, use _ instead
- Can't use most fancy symbols, so it's better not to risk it. Symbols not allowed are :'"<>,/?\|\\ ()!@ # \$ % ^  etc.
- Its considered a good coding practice to have lower case names for your variables so NO CAPS.

Labels, also called **variables**, are absolutely essential to programming, and will make your life much easier!

Here is another example!

In [ ]:
grade_midterm = 80

In [ ]:
grade_final = 97

In [ ]:
grade = (grade_midterm + grade_final)/2

In [ ]:
grade

## 2.4 Errors

Programming---even for the most experienced programmer---is not error-free.

Get comfortable with things not running, experimenting & tweaking them until you can get them to work.

In [ ]:
## we never defined the varible gradesss but we tried to used it, and we got an error
gradesss+20

In [ ]:
## we now did, and we will get no error
gradesss = 50 
gradesss+20

While we only assigned numbers to variables, things can get much more interesting...!

Coming up next: **Strings**

--- 
# üî§ 3. Strings

Strings are one of the most commonly used object types in Python.

Strings are the primary object type which we use to record and manipulate **textual information**.

Strings are treated by Python as **sequences**, meaning that Python understands a string as an ordered set of letters. 
- For example, the string **'MIS201'** is understood as the sequence of letters that has in its first place the letter 'M', in its second place the letter 'I', and so on ... .
- The idea of the sequence is very important in Python and is used in many of its data types. Strings will be our first encounter with sequences!

## 3.1 Creating, Printing and Assigning Strings

Strings can be created by using two single quotes (or two double quotes). For example:

In [ ]:
#a single word
'hello'

In [ ]:
#or a whole phrase!
'Yet another course :)'

In [ ]:
x = 'hello world'

In [ ]:
x

In [ ]:
print('hello world')

In [ ]:
print(x)

## 3.2 Special Characters

Be careful when you use the single quote inside the string.

Use \ to introduce special characters!

In [ ]:
'I'm learning how to code'

In [ ]:
#Remember: there is almost always more than one way to fix an error!

'I\'m learning how to code'

#or

"I'm learning how to code"

In [ ]:
print('We are learning how to use the new line \n and the tab \t characters')

#or

print('''we are learning how to use a new line
 and the tab     characters''')

In [ ]:
len('hello world')

In [ ]:
x

In [ ]:
len(x)

## 3.3 Indexing

Strings are a sequence, and with indexing we will be able to call any part of that sequence we want to.
- We use brackets ** [ ] ** after the object to call its index
- Indexing starts at 0 (and not one). This is a common mistake in the beginning but you'll quickly get used to it.

Let's see examples.

In [ ]:
x

In [ ]:
#show the first letter
x[0]

In [ ]:
#show the fifth letter
x[4]

In [ ]:
#show the sixth letter - it's a whitespace!
x[5]

In [ ]:
#grab everything from and including what's in index 1 up to the end
x[1:]

In [ ]:
#grab everything from and including index 1 up to (but not including) index 4
x[1:4]

In [ ]:
#grab everything up to (but not including) index 7
x[:7]

In [ ]:
#grab anything but the last two letters
x[:-2]

## 3.4 Important String Properties


### Immutability
The very first thing that we should know about strings is that they have a property called **immutability**.

Let's try to change what an index of a string contains. 
For example try to change the first letter to a capital H.

In [ ]:
x = 'hello world'
x[0] = 'H'

Immutability means that when the string is created, we cannot change or replace the elements of the sequence it represents. This is true for other data types (tuples) but not for every one of them (lists). We'll resume our discussion in the future.


### Concatenation
However, something we can do is **concatenate** strings---add a string to another string.

In [ ]:
x = "hello MIS201, "

In [ ]:
#concatenating strings
x + ' we are now coding!'

In [ ]:
#concatenate and reassign
x = x + ' we are now coding!'
print(x)

In [ ]:
#another way to change the first letter
x = 'H' + x[1:]
print(x)

In [ ]:
#multiplication symbol repeats the same string
x*3

## 3.5 A cool new way to do this: f-strings
One feature added in Python 3.6 is the f-string, which allows us to directly insert variables into a string.
How? Well, it's incredibly easy

In [ ]:
name = "Alice"
age = 30
print(f"My name is {name} and I am {age} years old.")

## 3.6 Important string functions

Python comes with functions, which are pre-coded functionalities. 
- for example, abs(-0.3) 
- There are tons of other functions not mentioned here! 
- Using them saves us a lot of time! When we need to manipulate a string, it's always a good idea to start by looking it up on the internet, since reinventing the wheel takes a lot of time! 

Some examples of useful string functions are given below.

In [ ]:
x

In [ ]:
x.upper()

In [ ]:
x.lower()

In [ ]:
x.split()

In [ ]:
x.split('o')

In [ ]:
x.count('o')

In [ ]:
x.find('d')

In [ ]:
x.find('ding')

In [ ]:
# strip() removes any leading (spaces at the beginning) and trailing (spaces at the end) characters
# By default, it removes whitespace but you can also specify other characters.
text = "   Hello, World!   "
print(text.strip())  # Removes spaces

In [ ]:
text = "Python is fun."
print(text.startswith("Python"))

In [ ]:
text = "Python is fun."
print(text.endswith("fun."))  # True

In [ ]:
text = "I like apples."
print(text.replace("apples", "bananas"))

## 3.6 More errors

We can add two similar items using + but not two disssimilar items.
That is, we can perform certain functions only on items of the same **type**

In [ ]:
5 + 10

In [ ]:
"55" + "MIS210"

In [ ]:
55 + "MIS210"